{% extends "base.html" %}

{% block content %}
<section id="three" class="main style1 special">
				<div class="container">
					<header class="major">
						<h2>Adipiscing amet consequat</h2>
					</header>
					<p>Ante nunc accumsan et aclacus nascetur ac ante amet sapien sed.</p>
                <div class="row">
		{% for a in articles %}

						<div class="{{ per_page }}u">
							<h3>{{a[:-3]}}</h3>
							<ul class="actions">
								<li><a href="{{ url_for('article', file_name=a) }}">Read more</a></li>
							</ul>
						</div>
        {% endfor %}
                </div>
					</div>
					{% for page in page_list %}
					<span><a href="{{url_for_other_page(page)}}">{{page}}</a></span>
					{% endfor %}

			</section>
{% endblock %}
